<style>
  .card{background:rgb(70 172 255 / 62%);cursor: pointer;}
</style>
<div class="container">
  <div class="row justify-content-around">
    <a routerLink="/vehicles" class="card col-md-3 text-white text-center py-3 mb-3">
      <i class="fas fa-car fa-5x"></i>
      <h2>Vehicles</h2>        
    </a>
    <a routerLink="/messages" class="card col-md-3 text-white text-center py-3 mb-3">
      <i class="fas fa-envelope-open-text fa-5x"></i>        
      <h2>Messages</h2>
    </a>
    <a routerLink="/suppliers" class="card col-md-3 text-white text-center py-3 mb-3">
      <i class="fas fa-people-carry fa-5x"></i>
      <h2>Suppliers</h2>
    </a>
  </div>
  <hr>
</div>
